###
# LastModified : {{ .LastModified }}
#
#

upstream app {
        {{ range .containers }}
                server {{ .Ip }}:{{ .Port}} fail_timeout=0;
        {{ end }}
}

server {

    # Port to listen on
    listen 80;

    location / {
    
	# Turn on nginx stats ( HttpStubStatusModule )
        stub_status on;
        
        # Set proxy headers        
        proxy_set_header        Host $host;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;

        proxy_pass http://app;
    }

}
